  .input type="submit" value="submit" 

  .form-wrapper input[type="submit"] {
    display: block;
    background: #aaa;
    color: #aaa;
    border: none;
    padding: 10px 20px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  .input [type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .ul {
    background-color: white;
    background-position: center;
    border: white;
  }

  nav {
    width: 750px;
    margin: 0 auto;
    list-style: none;
  }

  nav li {
    float: inherit;
  }

  nav a {
    display: inline;
    text-align: center;
  }

  nav a {
    width: 200px;
    float: left;
    background: #FFFFFF;
  }

  nav a {
    text: #2B2F26;
    text (Hover): #CD5D67;
    Text (Active) #968772;
  }

  .submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .div class {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .body {
    font-family: 'Roboto', sans-serif;

  }
